.result-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-container {
  margin-top: 20px;
}

.congratulation-image {
  max-width: 300px;
  height: auto;
}
